
.section:nth-child(1) {
	padding-top: 15px; /* extra padding to take account for the fixed navbar */
}
.section:nth-child(2) {
	padding-bottom: 15px;
}


.title,
.text {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 30px;
	box-sizing: border-box;

}


.title {
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	
}


.text {
	text-align: justify;
	text-justify: inter-word;
}



/*736*/
@media only screen and (max-width: 736px) {
	.text,
	.title {
		width: 100%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 737px) {
	.text,
	.title {
		width: 50%;
	}
}

@media only screen and (min-width: 1025px) {
	.text,
	.title {
		width: 50%;
	}
}





