
.navBar {
	background-color: rgba(200, 200, 200, 0);
	overflow: hidden;
	z-index: 200;
	position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 0.2s ease;

}

.navBar a:hover {
	text-decoration: underline;
}

.left,
.right {
	display:block;
	position: absolute;
	transform: translateY(-50%);
	top: 25px;
	padding: 15px;
}

.left {
	left: 0px;
}

.right {
	right: 0px;
}

.logo {
	height: 35px;
	position: fixed;
	top: 2px;
	left: 5px;
	mix-blend-mode: difference;
	z-index: 201;
	cursor: pointer;

}

@media only screen and (max-width: 560px) {
	.navBar {
		height: 50px;
		position: relative;
	}

	.linksM {		
		position: absolute;
		top: 60px;
		left: 30px;
		right: 30px;
		text-align: center;
	}

	.linksD {
		display: none;
	}

	.linksM a {
		display: block;
		font-size: 50px;
		cursor: pointer;	
	}

	.expanded {
		height: 100%;
		background-color: rgba(200, 200, 200, 0.9);
	}
}

@media only screen and (min-width: 561px) {
	.navBar {
		height: 40px;
	}
	.left,
	.right {
		top: 20px;
	}

	.menuIcon {
		display: none !important;
	}
	.linksM {
		display: none;
	}
	.linksD {
		display: inline-block;
	}
	.linksD a {
		cursor: pointer;
		z-index: 1000;
		margin: 5px;
	}
}
