

body {
	margin: 0;
	font-family: "Lato", "Gill Sans", "Helvetica Neue", helvetica;
}

._2L8XDbYpbfME7MGs3tsE5d {
	background-color: #0083FF;
	color: white;
}

.EJ9oDA61xjf-2dKmSae1x {
	background-color: #e9e9e9;
	color: #333;
}

.kEMSYPlCvCy8MGJB9ZrYa {
	height: 300px !important;
}


._38p6bB8gEQXGYqCh_KsF7N {
	height: 100vh;
	background-color: #333;
	color: white;
	overflow: hidden;
}

._38p6bB8gEQXGYqCh_KsF7N > h1 {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 300;
}

._38p6bB8gEQXGYqCh_KsF7N > h1 > a {
	color: #FF7898;/*#0083FF;/*#FF547C;*/
	text-decoration: none;
}
._38p6bB8gEQXGYqCh_KsF7N > h1 > a:hover {
	text-decoration: underline;
}._3LtRL68lMcz8ocTgXRC7Aa {
	font-weight: 200;
	font-family: 'Lato', 'Gill Sans', 'Helvetica Neue', helvetica, arial;
	text-transform: uppercase;
	text-align: center;
}
._3KFrZsgK0QAuqbcAPLZVbh {
	font-weight: 300;
	color: black;
}



@media only screen and (max-width: 320px) {
	._3LtRL68lMcz8ocTgXRC7Aa {
		font-size: 35px;
	}
}


@media only screen and (max-width: 736px) and (min-width: 321px) {
	.d5A-FXuXLYEQ7eVo-Uach {
		width: 100%;
	}

	._3LtRL68lMcz8ocTgXRC7Aa {
		font-size: 45px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 737px) {
	.d5A-FXuXLYEQ7eVo-Uach {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	._3LtRL68lMcz8ocTgXRC7Aa {
		font-size: 60px;
	}
}

@media only screen and (min-width: 1025px) {
	.d5A-FXuXLYEQ7eVo-Uach {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	._3LtRL68lMcz8ocTgXRC7Aa {
		font-size: 65px;
	}
}

/*
.title {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding: 40px 0 40px 0;
	background-color: green;
}*/


._21SGEyeE4ZbM9w1lhab1An > div {
	height: 100%;
	
}

._21SGEyeE4ZbM9w1lhab1An > img {
	min-height: 100%;
	min-width: 100%;
}


._1Dk7Y1NPio2OLQM-rCLZ6Z {
	color: white;
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	

}

._1Dk7Y1NPio2OLQM-rCLZ6Z h1 {
	font-weight: 300;
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
	
}

@media only screen and (max-width: 736px) {
	._21SGEyeE4ZbM9w1lhab1An {
		height: 100vh;
	}
	._2eadNze4JHpCUNMW8KjG7p {
		height: 50vh !important;
	}
	._21SGEyeE4ZbM9w1lhab1An img {
		height: 100%;
	}
}

@media only screen and (max-width: 1023px) and (min-width: 737px) {
	._21SGEyeE4ZbM9w1lhab1An {
		height: 300px;
	}
}

@media only screen and (min-width: 1024px) {
	._21SGEyeE4ZbM9w1lhab1An {
		height: 400px;
	}
}











._38aiXtaPcYsmQN0uf_wMEl {
	/*background-color: rgb(246, 209, 189);*/ /*rgb(236 ,208,188) rgb(243, 199, 175);*/
	padding: 20px;
	position: relative;


}

._38aiXtaPcYsmQN0uf_wMEl iframe {
	border: 0;
	max-width: 100%;
	background-color: #333;
	max-height: 370px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

._34S5jZCZ4ol5UYy7rmb4vc {
	padding-top: 20px;
	padding-bottom: 20px;
}

._2jq0idP_5jU1l_1uEwmTGD {
	text-align: center;
}

._2jq0idP_5jU1l_1uEwmTGD > div {
	display: inline-block;
}
.eV04-9hGlQRHHrfQVUi0r {
	font-size: 80px !important;
	color: #666;
	transition: color 0.2s ease;
}


.sBaqcT-aU4Ic95ZxMLlB {
	margin-top: 4px;
	text-transform: uppercase;
	font-weight: 400;
	transition: color 0.2s ease;

}

._3MnbvpTQH-tQwWsDxeLDYs{
	margin-top:3px;
	color: #666;
	transition: color 0.5s ease;
}


._3Mi8El9spwuOKsktVbn3R0:hover .sBaqcT-aU4Ic95ZxMLlB,
._3Mi8El9spwuOKsktVbn3R0:hover ._3MnbvpTQH-tQwWsDxeLDYs,
._3Mi8El9spwuOKsktVbn3R0:hover .eV04-9hGlQRHHrfQVUi0r {
	color:white;
}

._3Mi8El9spwuOKsktVbn3R0:hover {
	background-color: #0083ff;
}

._3Mi8El9spwuOKsktVbn3R0 {
	vertical-align: top;
	padding: 20px;
	position: relative;
	width: 220px;
	display: inline-block;
	/*border: 1px solid black;*/
	border-radius: 1px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
._2kcoOKw1cZvrGwWtrE3cOx {
	padding-bottom: 20px;
	overflow: hidden;
}


._2UoZzZ6DNS9gQRJdbsWKMG {
	font-weight: 700;
}
._2TdmkZF5eKNAXz9znjLiA5 {
	display: inline-block;
	text-align: left;
	padding: 10px;
	
}




._3osBQHjB5dYIv7JozxxJnA:nth-child(1) {
	padding-top: 15px; /* extra padding to take account for the fixed navbar */
}
._3osBQHjB5dYIv7JozxxJnA:nth-child(2) {
	padding-bottom: 15px;
}


.qgHaOH8TyQoe9TizBzMzB,
._2i50AYOJXzlrLu4f3gbXwB {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 30px;
	box-sizing: border-box;

}


.qgHaOH8TyQoe9TizBzMzB {
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	
}


._2i50AYOJXzlrLu4f3gbXwB {
	text-align: justify;
	text-justify: inter-word;
}



/*736*/
@media only screen and (max-width: 736px) {
	._2i50AYOJXzlrLu4f3gbXwB,
	.qgHaOH8TyQoe9TizBzMzB {
		width: 100%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 737px) {
	._2i50AYOJXzlrLu4f3gbXwB,
	.qgHaOH8TyQoe9TizBzMzB {
		width: 50%;
	}
}

@media only screen and (min-width: 1025px) {
	._2i50AYOJXzlrLu4f3gbXwB,
	.qgHaOH8TyQoe9TizBzMzB {
		width: 50%;
	}
}






._1STlS1bYzbVd-Hr22p9gWc {
	background-color: rgba(200, 200, 200, 0);
	overflow: hidden;
	z-index: 200;
	position: fixed !important;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 0.2s ease;

}

._1STlS1bYzbVd-Hr22p9gWc a:hover {
	text-decoration: underline;
}

.Gtou8GbefK5GN-DENbeEJ,
._2DNA7zv5b6yzuSQvq1HRDH {
	display:block;
	position: absolute;
	transform: translateY(-50%);
	top: 25px;
	padding: 15px;
}

.Gtou8GbefK5GN-DENbeEJ {
	left: 0px;
}

._2DNA7zv5b6yzuSQvq1HRDH {
	right: 0px;
}

._397d-XDZWfliHRGEdmDmAW {
	height: 35px;
	position: fixed;
	top: 2px;
	left: 5px;
	mix-blend-mode: difference;
	z-index: 201;
	cursor: pointer;

}

@media only screen and (max-width: 560px) {
	._1STlS1bYzbVd-Hr22p9gWc {
		height: 50px;
		position: relative;
	}

	._2lypnpJW8Us-CRgu6FFMOW {		
		position: absolute;
		top: 60px;
		left: 30px;
		right: 30px;
		text-align: center;
	}

	._1qszjC2_GSv4oMeWHVjT8W {
		display: none;
	}

	._2lypnpJW8Us-CRgu6FFMOW a {
		display: block;
		font-size: 50px;
		cursor: pointer;	
	}

	.G9dCdoeHf8eM4aER9lcc6 {
		height: 100%;
		background-color: rgba(200, 200, 200, 0.9);
	}
}

@media only screen and (min-width: 561px) {
	._1STlS1bYzbVd-Hr22p9gWc {
		height: 40px;
	}
	.Gtou8GbefK5GN-DENbeEJ,
	._2DNA7zv5b6yzuSQvq1HRDH {
		top: 20px;
	}

	._2oaO04DWb_V-cxJ4w5UWYT {
		display: none !important;
	}
	._2lypnpJW8Us-CRgu6FFMOW {
		display: none;
	}
	._1qszjC2_GSv4oMeWHVjT8W {
		display: inline-block;
	}
	._1qszjC2_GSv4oMeWHVjT8W a {
		cursor: pointer;
		z-index: 1000;
		margin: 5px;
	}
}
._1fJD9KHs0iJaeeNa0zvyAY {
	padding: 1px;
	height: 17px;
	width: 30px;
	display: inline-block;
	cursor: pointer;

	
	position: relative;
	

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

._1fJD9KHs0iJaeeNa0zvyAY > div {
	
	height: 4px;
	width: 100%;
	background-color: black;
	transition: all 0.3s ease; /*transform 0.3s ease, left 0.1s ease, opacity 0.3s ease;*/
	position: absolute;
	transform-origin: 0% 0%;
	border-radius: 4px;
	/*
	margin-bottom: 4px;
	
	
	
	transform-origin: 4px 50%;
	-webkit-transform-origin: 4px 50%;*/

}

._3uMt5hu0FFTrdPBgndCkFf {
	transform: rotate(45deg) translate(-50%, -50%);
	top: 50%;
	left: 50%;

}
._2xFfWr2zvKpYl3yMN_CLa- {
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
}

._1xs4r_nQ0LLYEIzmS9dvJ {
	opacity: 0;
	left: 500%;
	top: 50%;
	transition: left 0.5s ease, opacity 0.4s ease !important;
}

._1aEGCYm8HKi8yNuxoFVgSe {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

._3GpV1uxicGy50rE9vrH6v5 {
	transform: rotate(-45deg) translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.e8Jvns_M8HOlgv0hwnO6Q {
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
}

