.title {
	font-weight: 200;
	font-family: 'Lato', 'Gill Sans', 'Helvetica Neue', helvetica, arial;
	text-transform: uppercase;
	text-align: center;
}
.main {
	font-weight: 300;
	color: black;
}



@media only screen and (max-width: 320px) {
	.title {
		font-size: 35px;
	}
}


@media only screen and (max-width: 736px) and (min-width: 321px) {
	.content {
		width: 100%;
	}

	.title {
		font-size: 45px;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 737px) {
	.content {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		font-size: 60px;
	}
}

@media only screen and (min-width: 1025px) {
	.content {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.title {
		font-size: 65px;
	}
}

/*
.title {
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding: 40px 0 40px 0;
	background-color: green;
}*/